body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    align-self: center;
    align-items: center;
    justify-content: center;

    display: flex;
}

h1 {
    color: #7c8d4a;
}

.main {
    height: 40%;
    width: 90%;
    border-radius: 10%;
    border: 5px dashed #7c8d4a;
    align-self: center;
    align-items: center;
    justify-content: center;
}