:root {
    --b1: #7c8d4a;
    --b2: #3f5126;
    --b3: #a99271;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    align-self: center;
    align-items: center;
    justify-content: center;

    display: flex;
}

h1 {
    color: var(--b1);
}

.main {
    height: 40%;
    width: 90%;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--b2);
    align-self: center;
    align-items: center;
    justify-content: center;
    animation-name: mainIn;
    animation-duration: 2s;
    padding-bottom: 10%;
}

@keyframes mainIn {
    0% {opacity: 0%; top:-200px;}
    100% {opacity: 100%; top:0px;}
}