body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #7c8d4a;
}

.main {
    display:flexbox;
    height: 100vh;
    width: 100vw;
    border-radius: 10%;
    border-width: 2em;
    border-color: #7c8d4a;
    align-self: center;
}